<% form_for @judge do |f| %>
  <%= f.error_messages %>

  <%= f.text_field :owner_id, :class => "hidden" %>

  <p>
    <h3><%= f.label :name %></h3>
    <%= f.text_field :name %>
  </p>
  <p>
    <h3><%= f.label :url, "URL" %></h3>
    <%= f.text_field :url %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
