<% title "Judges" %>

<% for judge in @judges %>
<div class="list_element">
  <h3> <%= link_to judge.name, judge %>

  <%= link_to image_tag("icons/world.png", :alt => "Go to judge site"), judge.url, :target => "_blank" %>
  <%= link_to image_tag("icons/pencil.png", :alt => "Edit"), edit_judge_path(judge) %>
  <%= link_to image_tag("icons/cross.png", :alt =>"Delete"), judge, :confirm => 'Are you sure?', :method => :delete %>
</h3>

  <%= pluralize judge.problems.size, "problem" %>.



</div>
<% end %>

<p><%= link_to "New Judge", new_judge_path %></p>
