<% title @judge.name %>

<div class="actions">
  <%= link_to image_tag("icons/arrow_left.png", :alt => "Back to all judges"), judges_path %>
  <%= link_to image_tag("icons/world.png", :alt => "Go to judge site"), @judge.url, :target => "_blank" %>

  <% if logged_in? -%>
  <%= link_to image_tag("icons/pencil.png", :alt => "Edit"), edit_judge_path(@judge) if current_user.authorized?(@judge) %>
  <%= link_to image_tag("icons/cross.png", :alt =>"Delete"), @judge, :confirm => 'Are you sure?', :method => :delete if current_user.authorized?(@judge) %>
  <% end -%>
</div>


<p>
  <%= pluralize @problems.size, "problem" %>.
</p>

<%= render :partial => "problems/problem", :collection => @problems %>

<% if logged_in? -%>
<div class="bottom_link">
<%= link_to  image_tag("icons/add.png", :alt =>"Add problem"), new_judge_problem_path(@judge) %>
<%= link_to "Add problem", new_judge_problem_path(@judge) %>
</div>
<% end -%>


