<% title @judge.name %>

<div class="actions">
  <%= link_to image_tag("icons/arrow_left.png", :alt => "Back to all judges"), judges_path %>
  <%= link_to image_tag("icons/world.png", :alt => "Go to judge site"), @judge.url, :target => "_blank" %>
  <%= link_to image_tag("icons/pencil.png", :alt => "Edit"), edit_judge_path(@judge) %>
  <%= link_to image_tag("icons/cross.png", :alt =>"Delete"), @judge, :confirm => 'Are you sure?', :method => :delete %>
</div>


<p>
  <%= pluralize @problems.size, "problem" %>.
</p>

<%= render :partial => "problems/problem", :collection => @problems %>

<div class="bottom_link">
<%= link_to "Add problem", new_judge_problem_path(@judge) %>
</div>


