<% title @judge.name %>

<div class="actions">
  <%= link_to "Edit", edit_judge_path(@judge) %> |
  <%= link_to "Destroy", @judge, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View all judges", judges_path %>
</div>


<p>
  <%= pluralize @problems.size, "problem" %>.
</p>
<% for problem in @problems %>
<div class="list_element">
  <h3>
    <%= link_to problem.full_title, problem %>
    <%= link_to( image_tag("icons/world.png", :alt => "Go to problem statement"), problem.url ) %>
  </h3>
  0 solutions.
</div>
<% end -%>

<div>
<%= link_to "Add problem", new_judge_problem_path(@judge) %>
</div>


