<% form_for @problem do |f| %>
  <%= f.error_messages %>

  <div>
    <%= link_to @problem.judge.name, @problem.judge %>
  </div>
  <%= f.text_field :judge_id, :class => "hidden" %>
  <%= f.text_field :owner_id, :class => "hidden" %>
  <p>
    <h3><%= f.label :number %></h3>
    <%= f.text_field :number %>
  </p>
  <p>
    <h3><%= f.label :title %></h3>
    <%= f.text_field :title %>
  </p>
  <p>
    <h3><%= f.label :url, "URL" %></h3>
    <%= f.text_field :url %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
