<% form_for @problem do |f| %>
  <%= f.error_messages %>


  <%= f.text_field :judge_id, :class => "hidden" %>
  <p>
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
