<div class="list_element">
  <h3>
    <%= link_to problem.full_title, problem %>
    <%= link_to image_tag("icons/world.png", :alt => "Go to problem statement"), problem.url, :target => "_blank" %>
    <% if logged_in? -%>
    <%= link_to image_tag("icons/pencil.png", :alt => "Edit"), edit_problem_path(problem) if current_user.authorized?(problem)%>
    <%= link_to image_tag("icons/cross.png", :alt =>"Delete"), problem, :confirm => 'Are you sure?', :method => :delete if current_user.authorized?(problem) %>
    <% end -%>
  </h3>

  <%= pluralize problem.solutions.size, "solution" %>.
</div>
