<% title "Problems" %>

<table>
  <tr>
    <th>Title</th>
    <th>Url</th>
  </tr>
  <% for problem in @problems %>
    <tr>
      <td><%=h problem.title %></td>
      <td><%=h problem.url %></td>
      <td><%= link_to "Show", problem %></td>
      <td><%= link_to "Edit", edit_problem_path(problem) %></td>
      <td><%= link_to "Destroy", problem, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
