<% title "Problems" %>

<% content_for :section_nav do %>
  <p>
    <%= link_to_unless_current "All problems", problems_path %> | 
    <%= link_to_unless_current "Last solved problems", recent_problems_path %> | 
    <%= link_to_unless_current "Unsolved problems", unsolved_problems_path %>
  </p>
<% end %>

<% for judge in @judges %>
<% if @problems_by_judge[judge].size > 0 -%>
<div class="list_element">
  <h2> <%= link_to judge.name, judge %> </h2>

  <%= render :partial => "problem", :collection => @problems_by_judge[judge] %>

</div>
<% end -%>
<% end -%>
