<% title @problem.full_title %>

<div class="left-align">
  <%= link_to @judge.name, @judge %>
</div>

<div class="actions">
  <%= link_to image_tag("icons/arrow_left.png", :alt => "Back to all problems"), judge_path(@problem.judge) %>
  <%= link_to image_tag("icons/world.png", :alt => "Go to problem statement"), @problem.url, :target => "_blank" %>
  <%= link_to image_tag("icons/pencil.png", :alt => "Edit"), edit_problem_path(@problem) %>
  <%= link_to image_tag("icons/cross.png", :alt =>"Delete"), @problem, :confirm => 'Are you sure?', :method => :delete %>
</div>


<div>
  <%= pluralize @problem.solutions.size, "solution" %>.
</div>

<%= render :partial => "solutions/solution", :collection => @problem.solutions %>

<div class="bottom_link">
  <%= link_to image_tag("icons/add.png", :alt => "Add new solution"), new_problem_solution_path(@problem) %>
  <%= link_to "Add new solution", new_problem_solution_path(@problem) %>
</div>
