<script type="text/javascript">
 $(document).ready(function(){
	$("#userForm").validate();
 });
</script>

<% form_for @user, :html => {:id => 'userForm'} do |f| -%>

<p><label for="name">Name</label><br/>
<%= f.text_field :name, :class => 'required' %></p>

<p><label for="login">Login</label><br/>
<%= f.text_field :login, :class => 'required' %></p>

<p><label for="email">Email</label><br/>
<%= f.text_field :email, :class => 'required', :email => true %></p>

<% if show_password_field -%>
<p><label for="password">Password</label><br/>
<%= f.password_field :password, :class => 'required' %></p>

<p><label for="password_confirmation">Confirm Password</label><br/>
<%= f.password_field :password_confirmation, :class => 'required' %></p>
<% end -%>

<p>
  <%= f.check_box :wants_emails %>
<label for="wants_emails"> I want to receive email notifications when new problems are solved</label>
</p>

<p><%= submit_tag "Submit" %></p>

<% end %>
