<% title "Users" %>

<% for user in @users %>
<div class="list_element">
  <h3>
    <%= link_to user.name, user %>
    <%= link_to image_tag("icons/magnifier.png", :alt => "Show profile"), user %>
    <% if logged_in? -%>
    <%= link_to image_tag("icons/pencil.png", :alt => "Edit user profile"), edit_user_path(user) if current_user.authorized?(user) %>
    <%= link_to image_tag("icons/cross.png", :alt =>"Delete user"), user, :confirm => 'Are you sure?', :method => :delete if current_user.authorized?(user) %>
    <% end -%>
  </h3>
</div>
<% end %>

<% if logged_in? == false %>
    <%= link_to "New user", new_user_path %>
<% end %>

