<div class="list_element">
  <div>
    The idea of this site is keep track of solved problems in different online programming judges.
  </div>
  <br />
  <div>
    This site was developed by <%= mail_to "andmej@gmail.com", "Andrés Mejía" %>, using the fabulous
    <%= link_to "Ruby on Rails", "http://www.rubyonrails.org/" %> framework. The whole code was written using only
    <%= link_to "Emacs", "http://www.gnu.org/software/emacs/" %>.
  </div>
  <br />
  <div>
    Hosting is powered by <%= link_to "A Small Orange", "http://refer.asmallorange.com/20229" %>, a nice hosting company with a very friendly support team. If you are looking for cheap hosting for running your Ruby on Rails application, I recommend:
    <br />
    <div class="bottom_link">
    <center>

<a href="http://refer.asmallorange.com/Click/button/1034"><img src="http://refer.asmallorange.com/Images/button5.png" /></a>

    </center>
    </div>
    <br />
    <div>
      This site is open-source. The source code repository is hosted by <%= link_to "github.com", "http://www.github.com" %> and can be found <%= link_to "here", "http://github.com/andmej/como_vamos"  %>.
    </div>
  </div>
</div>
