<div class="list_element">
  <div>
    The idea of this site is keep track of solved problems in different online programming judges.
  </div>
  <br />
  <div>
    This site was developed by <%= mail_to "nhocki@gmail.com", "Nicolás Hock" %> and <%= mail_to "andmej@gmail.com", "Andrés Mejía" %>, using the fabulous
    <%= link_to "Ruby on Rails", "http://www.rubyonrails.org/" %> framework. The whole code was written using only
    <%= link_to "Emacs", "http://www.gnu.org/software/emacs/" %>.
  </div>
    <br />
    <br />
    <div>
      This site is open-source. The source code repository is hosted by <%= link_to "github.com", "http://www.github.com" %> and can be found <%= link_to "here", "http://github.com/andmej/como_vamos"  %>.
    </div>
  </div>
</div>
