<div class="list_element">
  <% if !logged_in? %>

  <h3>Welcome, guest.</h3>
  Please <%= link_to "login", new_session_path %> or <%= link_to "signup", new_user_path %>.

  Feel free to navigate anonymously, altough you won't be able to submit solutions until you register.

  <% else -%>
  <h3>Welcome back, <%= h current_user.name %></h3>

  <div>
    You have <%= h current_user.solved_problems.uniq.size %> solved problems and <%= pluralize current_user.solutions.size, "solution" %>.
  </div>

  <% if @missing_problems.size > 0 -%>
  <div class="list_element">
    <h3>Missing problems</h3>
    These are the problems that other people have solved but you are still missing: <br />
    <h4 class="float-right"><%= pluralize @missing_problems.size, "problem" %></h4>
    <ul>
      <% for problem in @missing_problems -%>
      <li>
        <%= link_to problem.full_title, problem %> | Solved by <%= pluralize problem.solvers.uniq.size, "person" %>.
        <br />
      </li>
      <% end -%>
    </ul>
  </div>
  <% end %>

  <% if @unsolved_problems.size > 0 -%>
  <div class="list_element">
    <h3>Unsolved problems</h3>
    These are the problems that nobody has solved: <br />
    <h4 class="float-right"><%= pluralize @unsolved_problems.size, "problem" %></h4>
    <ul>
      <% for problem in @unsolved_problems -%>
      <li>
        <%= link_to problem.full_title, problem %> | From <%= link_to problem.judge.name, problem.judge -%> <br />
      </li>
      <% end -%>
    </ul>
  </div>
  <% end -%>

  <% if @solved_problems.size > 0 -%>
  <div class="list_element">
    <h3>Solved problems</h3>
    These are the problems that you have solved: <br />
    <h4 class="float-right"><%= pluralize @solved_problems.size, "problem" %></h4>
    <ul>
      <% for problem in @solved_problems.uniq -%>
      <li>
        <%= link_to problem.full_title, problem %> | From <%= link_to problem.judge.name, problem.judge -%> <br />
      </li>
      <% end -%>
    </ul>
  </div>
  <% end -%>

  <% end -%>
</div>
