<% title "Solution" %>
<p>
  <b>Explanation:</b>
  <%=h @solution.explanation %>
</p>

<p>
  <b>Problem:</b>
  <%=h @solution.problem_id %>
</p>

<p>
  <b>User:</b>
  <%=h @solution.user_id %>
</p>

<p>
  <%= link_to "Edit", edit_solution_path(@solution) %> |
  <%= link_to "Destroy", @solution, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", solutions_path %>
</p>
