<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "") %></title>
    <%= stylesheet_link_tag 'application' %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="sidebar">
      <ul>
        <li>
          <%= link_to "Home", root_path %>
        </li>
        <li>
          <%= link_to "Judges", judges_path %>
        </li>
        <li>
          <%= link_to "Users", users_path %>
        </li>

        <br />

        <li>
          <% if logged_in? %>
          <%= link_to "Logout", session_path, :method => :delete %>
          <% else %>
          <%= link_to "Login", new_session_path %>
          <% end %>
        </li>
      </ul>


    </div>

    <div id="main">
      <div id="container">
        <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <%- end -%>

        <%- if show_title? -%>
        <h1><%=h yield(:title) %></h1>
        <%- end -%>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
