<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>¿Cómo vamos?</title>
    <%= stylesheet_link_tag 'application' %>
    <!-- google-code-prettify to embelish source code -->
    <%= stylesheet_link_tag 'prettify' %>
    <%= javascript_include_tag 'prettify' %>

    <%= yield(:head) %>
  </head>
  <body onload="prettyPrint()">
    <div id="wrap">
      <div id="header">
        <h1>¿Cómo vamos? </h1>

        <%= link_to "Home", root_path %> |
        <%= link_to "Judges", judges_path %> |
        <%= link_to "Problems", problems_path %> |
        <%= link_to "Users", users_path %> |

        <% if logged_in? %>
        <%= link_to "Logout", session_path, :method => :delete %>
        <% else %>
        <%= link_to "Login", new_session_path %> |
        <%= link_to "Sign up", new_user_path %>
        <% end %>

      </div>


      <div id="main">
          <%- flash.each do |name, msg| -%>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
          <%- end -%>

          <%- if show_title? -%>
          <h1><%=h yield(:title) %></h1>
          <%- end -%>

          <%= yield %>
      </div>
      <div id="footer">
        Brought to you by Factor común.
      </div>
    </div>
  </body>
</html>
